:root {
  --main-bg-color: #292929;
  --main-color: #f9f9f9;
  --secondary-bg-color: #353535;
  --secondary-color: #fff;
  --border-color: #555;
  --placeholder-color: #999;
  --submit-bg-color: #00ccff;
  --submit-hover-bg-color: #0099cc;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: var(--main-bg-color);
  color: var(--main-color);
}

.transaction-form {
  margin-bottom: 20px;
}

.transaction-form input[type="text"],
.transaction-form input[type="submit"] {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--secondary-color);
}

.transaction-form input[type="text"] {
  width: 70%;
  border: 1px solid var(--secondary-bg-color);
  background: var(--secondary-bg-color);
}

.transaction-form input[type="text"]::placeholder {
  color: var(--placeholder-color);
}

.transaction-form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background: var(--submit-bg-color);
  margin-left: 10px;
  cursor: pointer;
}

.transaction-form input[type="submit"]:hover {
  background: var(--submit-hover-bg-color);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-height: 500px;
  margin-top: 20px;
  color: var(--secondary-color);
}

h2 {
  margin-top: 30px;
}

#coloredText {
  font-family: "Courier New", Courier, monospace;
  color: gray;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  max-height: 500px;
  margin-top: 20px;
  font-weight: bold;
}

.link-button {
  background: none;
  border: none;
  color: lightblue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

.hidden {
  display: none;
}

.highlight {
  background-color: rgb(80, 80, 80);
}

.pinned {
  background-color: rgb(130, 130, 130);
}

.styledTextPart {
  font-family: "Courier New", Courier, monospace;
  color: gray;
  font-weight: bold;
}

#tx-breakdown {
  min-height: 150px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.description {
  margin-left: 20px;
  margin-bottom: 10px;
}
/* The switch - the box around the slider */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 10px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px; /* matching with the height of .toggle-switch */
}

.switch:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 5px; /* (height of .toggle-switch - height of .switch:before) / 2 */
  bottom: 3px; /* (height of .toggle-switch - height of .switch:before) / 2 */
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

input:checked + .switch {
  background-color: #2196f3;
}

input:checked + .switch:before {
  transform: translateX(
    26px
  ); /* width of .toggle-switch - width of .switch:before - 2*left of .switch:before */
}

.toggle-switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggle-switch-label {
  margin-right: 10px;
}

.detailed-view-container {
  display: flex;
  align-items: center;
}

#txDetails {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: var(--secondary-bg-color);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: var(--secondary-color);
}

.chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(-45deg);
  margin-left: 8px;
  transition: transform 0.3s;
}

.chevron.rotate {
  transform: rotate(135deg);
}

.txDetails-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.txDetails-button {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.txDetails-content {
  padding: 1px 16px;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
